{% extends "base.html" %}

{% block main %}
<div id="homepage">
  <div class="grid grid-cols-3">
    <div id="content-left" class="col-span-2">
      <header class="font-semibold">
        <h1 id="greet"></h1>
        <h1>{{user.username}}</h1>
      </header>

      <!-- trending articles -->
      <div id="trending" class="mt-12">
        <h2
          class="text-lg tag-highlight inline-block font-medium tracking-widest"
        >
          TRENDING
        </h2>
        <div class="wrapper grid grid-cols-2">
          <div id="article--tranding-one" class="py-3 pr-4">
            <small class="font-semibold">Linus Iain</small>
            <p>
              <a href="#" class="font-semibold text-lg">
                In Your Bussines With Mr.E
              </a>
            </p>
            <small class="text-gray-600">Oct 21 · 7 min read</small>
          </div>
          <div id="article--tranding-two" class="py-3 pr-4">
            <small class="font-semibold">Vaimiti Savitri</small>
            <p>
              <a href="#" class="font-semibold text-lg">
                A Tale of Two Kinds of Media Workers
              </a>
            </p>
            <small class="text-gray-600">Oct 22 · 3 min read</small>
          </div>
          <div id="article--tranding-three" class="py-3 pr-4">
            <small class="font-semibold">Sarika Mårten</small>
            <p>
              <a href="#" class="font-semibold text-lg">
                10 Sign the Pandemic Is About to Get Much Worse
              </a>
            </p>
            <small class="text-gray-600">Oct 19 · 8 min read</small>
          </div>
          <div id="article--tranding-four" class="py-3 pr-4">
            <small class="font-semibold">Emma Méabh</small>
            <p>
              <a href="#" class="font-semibold text-lg">
                5 Countires to Move if Trump Wins Again, Ranked
              </a>
            </p>
            <small class="text-gray-600">Oct 20 · 2 min read</small>
          </div>
        </div>
      </div>
      <!-- end of trending articles -->

      <hr class="my-8" />
    </div>

    <!-- explore more articles -->
    <div id="content-right" class="col-span-1 px-5">
      <h2
        class="text-lg tag-highlight inline-block font-medium tracking-widest mb-5"
      >
        EXPLORE
      </h2>
      {% for article in web_explore_articles %}
        <div class="mb-6">
          <a href="{% url 'users:detail' article.author.username  %}" class="font-semibold text-sm">
            {{article.author}}
          </a>
          <a href="{% url 'users:story' username=article.author.username slug=article.slug %}">
            <p class="font-semibold text-lg">{{article.title}}</p>
            <small class="text-gray-600">{{article.created_at|date:"M d"}}</small>
          </a>
        </div>
      {% endfor %}
    </div>
    <!-- end of explore more articles -->

  </div>

  <!-- main article -->
  <div class="grid grid-cols-3">
    <div class="col-span-2">
      {% for article in web_main_articles %}
        <!-- article -->
        <div class="py-4">
          <article class="grid grid-cols-3">
            <div class="col-span-2">
              <!-- author section -->
              <div id="author" class="flex content-center">
                {% if article.author.avatar %}
                  <img
                    src="{{article.author.avatar.url}}"
                    class="rounded default-avatar-dim-20"
                  >
                {% else %}
                  <div
                    class="rounded border border-gray-500 default-avatar-dim-20"
                  ></div>
                {% endif %}
                <a href="{% url 'users:detail' article.author.username %}" class="font-semibold text-sm ml-2">
                  {{article.author}}
                </a>
              </div>
              <!-- end of author -->

              <!-- article body -->
              <div id="article-body">
                <a
                  href="{% url 'users:story' username=article.author.username slug=article.slug %}"
                >
                  <p class="font-bold text-2xl">
                    {{ article.title }}
                  </p>
                  <p class="text-gray-700">
                    {% if article.body|length > 125 %}
                      {{ article.body | slice:":125" }}   ...
                    {% else %}
                      {{ article.body}}
                    {% endif %}
                  </p>
                </a>
                <div id="bottom-content" class="flex justify-between">
                  <small class="text-gray-600">
                    {{ article.created_at | date:"M d" }} · 7 min read
                  </small>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="19"
                    height="19"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bookmark"
                  >
                    <path
                      d="M19 23l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"
                    ></path>
                  </svg>
                </div>
              </div>
              <!-- end of article body -->
            </div>

            <!-- article image/cover -->
            <div class="col-span-1">
              <a
                href="{% url 'users:story' username=article.author.username slug=article.slug %}"
              >
              <img
                src="{{ article.cover.url }}"
                class="float-right"
                style="width: 210px; height: 150px"
              />
              </a>
            </div>
            <!-- end of article image/cover -->

          </article>
        </div>
        <!-- end of this article -->
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main %}
