{% extends "base_app.html" %}
{% load static i18n %}
{% load lorem ctx_length %}


{% block inner %}
<section class="section-content">
  <div class="home">
    <!-- cotent left -->
    <div class="content-left">
      <!-- greeting user -->
      <div class="greet-user">
        <h2 id="greet"></h2>
        <h2 id="username">
          {% if not request.user.is_anonymous %}
            {{ request.user.username }}
          {% else %}
            Guest.
          {% endif %}
        </h2>
      </div>

      <!-- trending stories -->
      <div class="trending">
        {% for trending in trendings %}
        <div class="story">
          <a href="{{ trending.get_absolute_url }}">
            <h2>{% context_length trending.title 40 %}</h2>
            <div><h3>{% context_length trending.body 90 %}</h3></div>
          </a>
        </div>
        {% endfor %}
      </div>

      <!-- main content -->
      <hr class="my-3" />
      <div class="main-content">
        {% for story in object_list %}
        <div class="story">
          <div class="wrapper">
            <div class="inner">
              <div class="content-1">
                <div class="user-information">
                  <a href="{{ story.author.get_absolute_url }}" id="image"
                    ><img src="{{ story.author.avatar.url }}" alt=""
                  /></a>
                  <a
                    href="{{ story.author.get_absolute_url }}"
                    id="userusername"
                    class="font-semibold"
                    >{{ story.author.username }}</a
                  >
                </div>
                <a href="{{ story.get_absolute_url }}" class="content">
                  <h2>{% context_length story.title 41 %}</h2>
                  <div>
                    <h3>{% context_length story.body 180 %}</h3>
                  </div>
                </a>
                <div class="story-information">
                  <div>based on your read</div>
                  <div>save</div>
                </div>
              </div>
              <div class="content-2">
                {% if story.cover %}
                <a href="{{ story.get_absolute_url }}">
                  <picture class="image-wrapper">
                    <div id="picture">
                      <img
                        src="{{ story.cover.url }}"
                        class="w-full"
                        alt=""
                        srcset=""
                      />
                    </div>
                  </picture>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- content right -->
    <div class="content-right">
      <div class="box">
        <p>{% custom_lorem_ipsum 125 %}.</p>
      </div>
      <div class="box">
        <p>{% custom_lorem_ipsum 125 %}.</p>
      </div>
      <div class="box">
        <p>{% custom_lorem_ipsum 125 %}.</p>
      </div>
      <div class="href">
        <a href="#" class="text-blue-600"> explore more ... </a>
      </div>
      <!-- tags -->
      <div class="tags sticky">
        <ul class="tags-button">
          <li><a href="#">lorem lorem lor</a></li>
          <li><a href="#">lorem lorem</a></li>
          <li><a href="#">lorem lorem lorem</a></li>
          <li><a href="#">lorem lorem lo</a></li>
          <li><a href="#">lorem lor</a></li>
          <li><a href="#">lorem lorem lorem lor</a></li>
          <li><a href="#">lorem</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %} {% block javascript %}
<script>
  greetUser();
</script>
{% endblock javascript %}
