{% extends "base.html" %}
{% load static %}

{% block title %} Obsidian - Articles {% endblock %}

{% block content %}

<div class="container mx-auto p-12 px-16 sm:px-24 lg:px-32">
  <header>
    <h1 class="tracking-widest">TAGGED IN</h1>
    <h1 class="text-4xl">Python</h1>
  </header>
  <div class="grid grid-cols-3 gap-4 mt-12">
    <div class="left-side col-span-1 border-t">
      <div class="">
        <!-- fixed w-1/4 -->
        <div class="heading-title py-4">Related tags</div>
        <div class="tags related--tags text-sm">
          <a href="#" class="mr-3">Data Sience</a>
          <a href="#" class="mr-3">Programming</a>
          <a href="#" class="mr-3">Django</a>
          <a href="#" class="mr-3">Python 3</a>
          <a href="#" class="mr-3">Flask</a>
          <a href="#" class="mr-3">Software Development</a>
          <a href="#" class="mr-3">Python Programming</a>
        </div>
      </div>
    </div>
    <div class="article-list col-span-2 px-4 sm:px-12 lg:px-8">
      <div class="heading-title mb-8">
        <div class="flex text-sm">
          <a href="#" class="mr-4 pb-2 border-b font-bold text-black border-black">Top Stories</a>
          <a href="#" class="mr-4 pb-2">Archive</a>
        </div>
      </div>
      {% for article in articles %}
      <div class="card shadow-sm border rounded-sm p-4 mb-8">
        <div class="u-infoArticle flex">
          <img
            class="rounded-full border-t border-b"
            src="{{article.author.image}}"
            alt="avatar"
            width="45"
            height="45"
          />
          <div class="u ml-3">
            <p class="text-teal-600">{{ article.author }}</p>
            <small class="text-gray-700 text-xs">{{ article.created_at | date:"M d" }} · 5 min read &#9733;</small>
          </div>
        </div>
        <div class="article--tags my-5">
          {% for tag in article.tags.all %}
          <small class="pb-1 px-3 border rounded-full">{{ tag }}</small>
          {% endfor %}
        </div>
        <a href="{% url 'users:story' username=article.author slug=article.slug %}">
          {% if article.cover %}
          <div class="z18REfxSKn mb-5">
            <div class="img">
              <img
                src="{{article.cover.url}}"
                class="article-image"
                alt="article-image"
              />
            </div>
          </div>
          {% endif %}
          <h1 class="font-bold text-2xl pb-3">{{ article.title }}</h1>
          <p class="pb-5">{{ article.body | slice:":150" }} ...</p>
        </a>
        <small style="color: #979797" class="hover:text-gray-500">
          <a href="#">Read more...</a>
        </small>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
