{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}
{% trans "Sign In" %}
{%endblock %}


{% block inner %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form
        class="login100-form validate-form flex-sb flex-w"
        method="POST"
        action="{% url 'account_login' %}"
      >
        {% csrf_token %}
        <span class="login100-form-title p-b-51">Sign In</span>

        <div class="sociallaccount-wrapper my-5">
          <div class="sociallaccount-providers">
            <ul>
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          </div>
          <p>or</p>
        </div>

        <div
          class="wrap-input100 validate-input m-b-16"
          data-validate="Username is required"
        >
          <input
            class="input100"
            type="text"
            placeholder="Username"
            autocomplete="username"
            maxlength="150"
            required=""
            id="id_login"
          />
          <span class="focus-input100"></span>
        </div>

        <div
          class="wrap-input100 validate-input m-b-16"
          data-validate="Password is required"
        >
          <input
            class="input100"
            name="password"
            placeholder="Password"
            autocomplete="current-password"
            required=""
            id="id_password"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div class="contact100-form-checkbox">
            <input
              class="input-checkbox100"
              id="ckb1"
              type="checkbox"
              name="remember-me"
            />
            <label class="label-checkbox100" for="ckb1"> Remember me </label>
          </div>

          <div>
            <a href="{% url 'account_reset_password' %}" class="text-xs">
              {% trans "Forgot Password?" %}
            </a>
          </div>
        </div>
        <small>
          {% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="text-blue-500">sign up</a> first.{% endblocktrans %}
        </small>

        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}

        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">Sign In</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock inner %}
