{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{%endblock %}



{% block inner %}
<div id="login-section" class="w-full">
  <div class="wrapper">
    <div>
      <header>
        <h2 class="text-7xl tracking-wide">Sign In</h2>

        <div class="provider">
          {% get_providers as socialaccount_providers %} {% if socialaccount_providers %}

          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or my-3">{% trans 'or' %}</div>
          </div>

          {% include "socialaccount/snippets/login_extra.html" %} {% else %}
          <p>
            {% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
          </p>
          {% endif %}
        </div>
      </header>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <input
          type="text"
          placeholder="Username"
          autocomplete="username"
          maxlength="150"
          required=""
          id="id_login"
          class="appearance-none w-80 py-2 px-3 mb-4 text-gray-900 leading-tight focus:outline-none"
        />

        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="current-password"
          required=""
          id="id_password"
          class="appearance-none w-80 py-2 px-3 mb-4 text-gray-900 leading-tight focus:outline-none"
        />

        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}

        <a
          class="button secondaryAction"
          href="{% url 'account_reset_password' %}"
          >{% trans "Forgot Password?" %}</a
        >
        <button class="primaryAction btn btn-primary" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
