{% extends "account/base.html" %}

{% load i18n %}
{% load utils %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
  <h1 class="font-medium text-6xl elex">{% trans "Sign In" %}</h1>

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  <p class="my-5 text-lg">
    {% blocktrans with site.name as site_name %}Please sign in with one of your
    existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for
    a {{ site_name }} account and sign in below:{% endblocktrans %}
  </p>
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login"
      %}
    </ul>
    <div class="login-or">{% trans 'or' %}</div>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %} {% else %}
  <p class="my-5 text-lg">
    {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" class="text-blue-500">sign up</a> first.{% endblocktrans %}
  </p>
  {% endif %}

  <div class="w-3/6">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'account_login' %}">
      <div class="mb-6">
        {% csrf_token %}
        {{ form.login | addclass:"appearance-none border rounded w-full py-2 px-3 mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        {{ form.password | addclass:"appearance-none border rounded w-full py-2 px-3 mb-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
        <div class="md:flex md:items-center mb-6">
          <label class="block text-gray-500 items-center">
            {{ form.remember | addclass:"mr-2 leading-tigh outline-none" }}
            <span class="text-based">
              remember me
            </span>
          </label>
        </div>
        {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
          {% else %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="/"
          />
        {% endif %}
      </div>
      <div class="flex items-center justify-between">
        <button
          class="btn-primary rounded text-white"
          type="submit"
        >
        {% trans "Sign In" %}
        </button>
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          href="{% url 'account_reset_password' %}"
        >
        {% trans "Forgot your Password?" %}
        </a>
      </div>
    </form>
  </div>
{% endblock %}
