{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block inner %}
<div class="limiter">
  <div class="container-process">
    <div class="wrap-process p-t-50 p-b-90">
      <form
        method="POST"
        action="{% url 'account_reset_password' %}"
        class="process-form validate-form flex-sb flex-w"
      >
        <h2 class="process-form-title">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        <small style="margin-top: 1rem;">
          {% include "account/snippets/already_logged_in.html" %}
        </small>
        {% endif %}

        <small class="text-gray-normal" style="margin: 0.5rem 0 1rem 0;">
          {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          <a href="{% url 'me:settings' %}" style="color: rgb(59, 130, 246);">return</a>
        </small>

        {% csrf_token %}
        <div
          class="wrap-input100 validate-input m-b-16"
          data-validate="Email is required"
        >
          <input
            class="input100"
            type="email"
            placeholder="E-mail address"
            autocomplete="email"
            required=""
            id="id_email"
          />
          <span class="focus-input100"></span>
        </div>
        <div class="container-process-form-btn m-t-17">
          <button type="submit" class="process-form-btn">{% trans 'Reset My Password' %}</button>
        </div>
      </form>

      <p>
        {% blocktrans %}
        Please <a href="#" style="color: rgb(59, 130, 246);">contact us</a> if you have any trouble resetting your password.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
