////////////////////////////////
//Mixins//
////////////////////////////////
@mixin crop-image($max-height, $crop-height) {
    .image-wrapper {
        width: 100%;
        max-width: 100% !important;
        height: auto;
        #picture {
            overflow: hidden !important;
            max-height: $max-height !important;
            img {
                margin-top: $crop-height;
            }
        }
    }
}

////////////////////////////////
//Variables//
////////////////////////////////
$playfair: "Playfair Display", serif; // head, sub
$prata: 'Prata', serif; // head, sub
$ostt: 'Old Standard TT', serif; // logo, icon?

// Alert colors
$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;


////////////////////////////////
//Styles//
////////////////////////////////
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden !important;
}

.sidenav {
    position: fixed;
    width: 5vw;
    height: 100%;
    text-align: center;
    font-family: $ostt;
    z-index: 99;
    transform: translate3d(0, 0, 0);
    transition: all 350ms 50ms cubic-bezier(0.645, 0.045, 0.355, 1);

    .sidenav-logo,
    .djraft-logo {
        font-family: $ostt;
        display: block;
        margin-top: 0.75em;
        color: #1abca1;
    }

    .active {
        border-right: 2px solid #1abca1;
        color: #1abca1;

        a {
            border-color: #1abca1 !important;
        }
    }

    .nav-items-wrapper-center {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-30%);

        .nav-item {
            position: relative;
        }
    }

    .nav-items-wrapper-bottom {
        position: absolute;
        top: 87.5%;
        width: 100%;

        .nav-item {
            position: relative;
        }
    }
}

.web-body {
    left: 5vw;
    width: 95vw;
    height: 100%;
    position: relative;
    padding-top: 2.25em;

    greet {
        // font-family: $playfair;
        font-family: $prata;
        cursor: context-menu;
    }

    #content-right {
        #stick {
            top: 0;
            position: -webkit-sticky;
            position: sticky !important;

            .tags-ui-btn {
                list-style-type: none;
                li {
                    display: inline-block;
                    margin-bottom: 17px;
                    margin-right: 4px;
                    a {
                        padding: 6px 24px 6px 24px;
                        border: 1px solid;
                        border-color: rgba(229, 231, 235, 1);
                    }
                }
            }

            summary {
                list-style-type: none;
            }
        }
    }
}

.web-body {
    story-detail {
        #title {
            font-family: $playfair;
        }

        @include crop-image(520px, -10%);
    }
}

.web-body {
    user-stories {
        #head-text {
            font-family: $playfair;
        }

        .write-story {
            padding: 12px 36px 12px 36px;
        }

        .import-story {
            padding: 12px 36px 12px 36px;
        }

        content {
            .user-story {
                width: 100%;
            }
        }
    }
}

.web-body {
    user-detail {
        wrap-info {
            top: 0 !important;
            position: -webkit-sticky !important;
            position: sticky !important;
        }

        wrap-stories {
            @include crop-image(320px, -10%);
        }

        empty-story {
            h2 {
                font-family: $ostt;
            }
        }
    }
}

.web-body {
    story-creation {
        #story-form-menu {
            cursor: pointer;
        }
    }
}
