{% extends "base_app.html" %}
{% load lorem ctx_length %}

{% block title %}
{{object.title}} | by {{object.author}}
{% endblock %}


{% block inner %}
<section class="section-content">
  <div class="story-detail">
    <div class="wrapper">
      <div class="inner">
        <!-- story heading -->
        <div class="heading">
          <h2>{{ object.title }}</h2>
          <h3>{{ object.description }}.</h2>
        </div>

        <!-- story author -->
        <div class="author">
          <div class="avatar">
            <a href="{{ object.author.get_absolute_url }}">
              <img src="{{ object.author.avatar.url }}" alt="" srcset="">
            </a>
          </div>
          <div class="info">
            <h3><a href="{{ object.author.get_absolute_url }}">{{ object.author.username }}</a></h3>
            <span class="text-sm">Published on {{ object.created_at|date:"M, j Y"}}</span>
          </div>
        </div>

        <!-- story cover -->
        {% if object.cover %}
        <div class="story-cover">
          <div class="wrapper">
            <div class="inner">
              <img src="{{ object.cover.url }}" alt="" srcset="">
            </div>
          </div>
        </div>
        {% endif %}

        <!-- story body -->
        <div class="body">
          {{ object.body|linebreaksbr }}
        </div>
        <!-- story footer -->
        <div class="footer">
          <div class="wrapper">
            <div class="inner">
              <div class="author-image">
                <a href="{{ object.author.get_absolute_url }}">
                  <img src="{{ object.author.avatar.url }}" alt="" srcset="">
                </a>
              </div>
              <div class="author-info">
                <h3>written by</h3>
                <h2><a href="{{ object.author.get_absolute_url }}">{{ object.author.username }}</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}