{% extends 'base_app.html' %}
{% load lorem %}


{% block inner %}

<section class="section-content">
  <user-stories>
    <header class="mb-8">
      <h2 class="sub-head mt-2 text-6xl">Your Stories</h2>
    </header>
    <div class="wrapper mt-5 grid grid-cols-6">
      <div class="left-content sticky col-span-2">
        <h2 class="text-2xl font-semibold mb-5">Your most liked stories</h2>
        {% for liked in most_liked %}
        <article>
          <a href="{{ liked.get_absolute_url }}">
            <h2 class="font-semibold">{{ liked.title }}</h2>
            <p>{{ liked.title|linebreaksbr|slice:"144" }} ...</p>
          </a>
        </article>
        {% endfor %}
      </div>
      <div class="right-content col-span-4 mx-10">
        {% for article in object_list %}
        <article class="flex justify-between" id="{{ article.slug }}">
          <div class="content">
            <a href="{{ article.get_absolute_url }}">
              <h2 class="font-semibold text-2xl">
              {% if article.title|length > 45 %}
                {{ article.title|slice:"45" }} ...
              {% else %}
                {{ article.title }}
              {% endif %}
              </h2>
              <p>
                {% if article.description|length > 142 %}
                  {{ article.description|slice:"142" }} ...
                {% else %}
                  {{ article.description }}
                {% endif %}
              </p>
            </a>
            <p class="text-sm text-gray-normal mt-3">
              Last edited about 1 minute ago
            </p>
          </div>
          <div class="tools">
            <a
              href="{% url 'me:edit_story' slug=article.slug %}"
              class="bg-gray-100 hover:bg-gray-400 hover:text-gray-100"
              >edit
            </a>
            <a
              href="#"
              id=href-{{article.slug}}
              onclick="deleteStory(this)"
              class="bg-red-100 hover:bg-red-400 hover:text-red-100"
              >delete
            </a>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </user-stories>
</section>
<script>
  function deleteStory(el) {
    var slug = el.id.split("href-")[1];
    fetch(
      document.location.protocol +
        "//" +
        document.location.host +
        "/me/" +
        slug +
        "/delete",
      {
        method: "GET",
      }
    ).then((response) => document.getElementById(slug).remove());
  }
</script>
{% endblock %}
