{% extends "base.html" %}

{% block title %}
{{story.title}} | by {{story.author}}
{% endblock %}

{% block main %}
<article class="mx-auto px-18 sm:px-18 lg:px-32">
  <div class="article--top-heading">
    <h1 class="font-bold text-gray-900 text-6xl">{{story.title}}</h1>
    <div class="max-w-3xl">
      <p class="text-gray-700 text-lg">{{story.description}}</p>
    </div>
  </div>
  <div class="article--top-author my-6">
    <div class="flex">
      <picture>
        {% if story.author.avatar %}
        <img
          src="{{story.author.avatar.url}}"
          class="rounded-full default-avatar-dim-50"
        />
        {% else %}
        <div class="rounded-full border border-gray-500 mx-3 default-avatar-dim-50"></div>
        {% endif %}
      </picture>
      <div class="author mx-4">
        <p class="text-gray-900">{{story.author}}.</p>
        <small class="text-gray-700">{{story.created_at | date:"M d"}}</small>
      </div>
    </div>
  </div>
  {% if story.cover %}
  <div class="article--image py-4" style="max-height: 816px !important; overflow: hidden !important;">
    <div class="img">
      <img
        src="{{story.cover.url}}"
        class="article-image"
        alt="article-image"
      />
    </div>
  </div>
  {% endif %}
  <div class="article--body">
    <p>{{story.body|linebreaksbr}}</p>
  </div>
</article>
{% endblock main %}
