{% extends "base_app.html" %}
{% load static lorem %}


{% block inner %}
<section class="section-content">
  <div class="story-form">
    <div class="wrapper">
      <div class="inner">
        <span id="user-username" style="display: none">{{request.user.username}}</span>
        <form
          id="story-form"
          action="{% url 'me:new_story' %}"
          method="POST"
          class="story-creation-form"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!-- title -->
          <div class="title-wrapper">
            <p id="id_title" class="title border-l border-gray-300 text-7xl">
              <span contenteditable="true" id="editableDiv-title"
                >My Title</span
              >
            </p>
          </div>
          <!-- description -->
          <div class="descr-wrapper">
            <p id="id_description" class="description text-gray-normal">
              <span id="editableDiv-description" contenteditable="true"
                >my story description</span
              >
            </p>
          </div>
          <!-- cover -->
          <div class="cover-wrapper">
            <div class="inner" id="show-cover">
              <div class="i_cover">
                <img src="#" id="load-cover" style="display: none" />
              </div>
              <input
                type="file"
                id="id_cover"
                name="cover"
                style="display: none"
                onchange="loadFile(event)"
              />
              <label for="id_cover" id="cover-label">Add Cover Image</label>
            </div>
          </div>
          <!-- body -->
          <div class="body-wrapper">
            <div contenteditable="true" id="id_body">
              <span id="editableDiv-body" contenteditable="true"
                >Tell your story ...</span
              >
            </div>
          </div>
          <div>
            <button type="submit" class="publish">publish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  var _title = document.getElementById("editableDiv-title");
  var _descr = document.getElementById("editableDiv-description");
  var _cbody = document.getElementById("editableDiv-body");

  function loadFile(event) {
    var cover = document.getElementById("load-cover");
    var cover_show = document.getElementById("show-cover");
    var cover_label = document.getElementById("cover-label");

    // Do somethin with this
    cover.removeAttribute("style");
    cover_show.classList.add("no-border", "cover-get");
    cover_label.innerHTML = "Change Cover Image";

    cover.src = URL.createObjectURL(event.target.files[0]);
  }

  function handlePaste(e) {
    var clipboardData, pastedData;

    // Stop data actually being pasted into div
    e.stopPropagation();
    e.preventDefault();

    // Get pasted data via clipboard API
    clipboardData = e.clipboardData || window.clipboardData;
    pastedData = clipboardData.getData("Text");

    // paste the data
    e.target.innerHTML = pastedData;
  }

  _title.addEventListener("paste", handlePaste.bind(_title));
  _descr.addEventListener("paste", handlePaste.bind(_descr));
  _cbody.addEventListener("paste", handlePaste.bind(_cbody));
</script>
<script src="{% static 'js/processAjax.js' %}"></script>
{% endblock %}
