{% extends "base_app.html" %}
{% load static %}


{% block inner %}
<section class="section-content">
  <div class="user-settings">
    <div class="wrapper">
      <div class="inner">
        <div class="navigation">
          <ul class="nav-wrapper">
            <li class="nav-item">
              <h2>Settings</h2>
            </li>
            <li class="nav-item">
              <a href="#about-me">About you</a>
            </li>
            <li class="nav-item">
              <a href="#email-setting">Email settings</a>
            </li>
            <li class="nav-item">
              <a href="#account-setting">Account</a>
            </li>
            <li class="nav-item">
              <a href="#security-setting">Security</a>
            </li>
            <li class="nav-item">
              <a href="#password-setting">Password</a>
            </li>
          </ul>
        </div>
        <div class="user-content">
          <div class="content-wrapper">
            <div class="content-inner">
              <form
                method="POST"
                id="settings-form"
                action="{% url 'me:settings' %}"
              >
                {% csrf_token %}
                <!-- about user -->
                <div class="form-content" id="about-me">
                  <h2>About you</h2>
                  <!-- name -->
                  <div class="form-item" id="name">
                    <label for="id_username">Name</label>
                    <div class="item-name">
                      <h3 id="id_username" contenteditable="true">
                        {{ user.username }}
                      </h3>
                    </div>
                    <div class="info">
                      <small class="text-gray-normal">
                        Your name appears on your Profile page, as your byline,
                        and in your responses. It is a required field.
                      </small>
                    </div>
                  </div>
                  <!-- end name -->

                  <!-- bio -->
                  <div class="form-item" id="bio">
                    <label for="id_bio">Bio</label>
                    <div class="item-bio">
                      <h3 id="id_bio" contenteditable="true">{{ user.bio }}</h3>
                    </div>
                    <div class="info">
                      <small class="text-gray-normal">
                        Your bio appears on your Profile page. Max 160
                        characters.
                      </small>
                    </div>
                  </div>
                  <!-- end bio -->

                  <!-- photo -->
                  <div class="form-item" id="photo">
                    <label for="user_photo">Photo</label>
                    <div class="photo-wrapper">
                      <div class="info">
                        <small class="text-gray-normal">
                          Your photo appears on your Profile page and your
                          stories. <br />
                          Recommended size: Square, at least 1000 pixels per
                          side. File type: JPG, PNG.
                        </small>
                      </div>
                      <div class="picture">
                        <img
                          src="{{user.avatar.url}}"
                          width="85"
                          height="85"
                          id="current_avatar"
                        />
                        <input
                          type="file"
                          name="avatar"
                          accept="image/*"
                          id="id_avatar"
                          onchange="getAvatarImage(event)"
                          style="display: none"
                        />
                        <label for="id_avatar" class="label-image"></label>
                      </div>
                    </div>
                  </div>
                  <!-- end photo -->
                </div>
                <!-- end about user -->

                <!-- email settings -->
                <div class="form-content" id="email-setting">
                  <h2>Email settings</h2>
                  <!-- emails -->
                  <div class="form-item" id="email">
                    <label for="id_email">Your Email</label>
                    <div class="emails">
                      <h3>{{ user.email }}</h3>
                      <span class="verified">
                        <small>primary</small>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="14"
                          height="14"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#1d4ed8"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-check ml-2"
                        >
                          <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                      </span>
                    </div>
                    <div class="info">
                      <small class="text-gray-normal">
                        Your email by default will not appears on your Profile
                        page, It is a required field.
                      </small>
                    </div>
                  </div>
                  <!-- end emails -->
                </div>
                <!-- end email settings -->

                <!-- account settings -->
                <div class="form-content" id="account-setting">
                  <h2>Account</h2>
                  <!-- user username url -->
                  <div class="form-item" id="uuname-url">
                    <label for="id_bio">Username</label>
                    <h3 id="id_bio" contenteditable="true">
                      <span class="text-gray-normal"
                        >https://djraft.herokuapp.com</span
                      >/@{{ user.username }}
                    </h3>
                    <div class="info">
                      <small class="text-gray-normal">
                        This will appear in Djraft url
                      </small>
                    </div>
                  </div>
                  <!-- end user username url -->
                </div>
                <!-- end account settings -->

                <!-- security settings -->
                <div class="form-content" id="security-setting">
                  <h2>Security</h2>
                  <!-- signout sessions -->
                  <div class="form-item" id="sosion">
                    <label for="id_sosion"
                      >Sign out of all other sessions</label
                    >
                    <div class="sosion-wrapper">
                      <div class="info">
                        <small class="text-gray-normal">
                          This will sign you out of sessions in other browsers
                          or on other computers.
                        </small>
                      </div>
                      <div class="button">
                        <a href="#" class="text-gray-normal">Sign out sessions</a>
                      </div>
                    </div>
                  </div>
                  <!-- end signout sessions -->
                </div>
                <!-- end security settings -->

                <!-- password settings -->
                <div class="form-content" id="password-setting">
                  <h2>Password settings</h2>
                  <!-- password reset -->
                  <div class="form-item" id="reset-pass">
                    <label>Reset password</label>
                    <div class="reset-wrapper">
                      <div class="info">
                        <small class="text-gray-normal">
                          We will send the link to your email in order to reset
                          your password. You can't use the same password to
                          create your new password.
                        </small>
                      </div>
                      <div class="button">
                        <a href="{% url 'account_reset_password' %}" class="text-gray-normal"
                          >Reset Password</a
                        >
                      </div>
                    </div>
                  </div>
                  <!-- end password reset -->
                </div>
                <!-- end password settings -->

                <div class="submit-wrapper">
                  <button type="submit" class="save-change px-8 py-3 text-gray-100 rounded">
                    Save Changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script lang="javascript">
  var getAvatarImage = function(event) {
    var current_avatar = document.getElementById('current_avatar');
    current_avatar.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
<script src="{% static 'js/processAjax.js' %}"></script>
{% endblock %}
