{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }} - Djraft{% endblock %}

{% block main %}
<div class="mx-auto mt-6 px-18 sm:px-18 lg:px-32">
  <header class="grid grid-cols-3">
    <div class="col-span-2">
      <div class="flex">
        <h2 class="font-semibold elex text-6xl">{{ user.username }}</h2>
        <span>
          <a href="{% url 'users:info' object.username %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
          </a>
        </span>
      </div>
      {% if object.name %}
      <h2 class="text-gray-700">{{ object.name }}</h2>
      {% endif %}
    </div>

    <!-- user avatar -->
    <div class="col-span-1">
      <picture class="flex justify-center">
      {% if user.avatar %}
        <img
          src="{{user.avatar.url}}"
          class="rounded-full avatar-detail-dim"
        />
      {% else %}
        <img
          src="#"
          class="rounded-full border avatar-detail-dim"
        />
      {% endif %}
      </picture>
    </div>
    <!-- end of user avatar -->

  </header>
  <hr class="my-8">
  <div id="wrapper" class="mx-24">
    <h2 class="font-semibold text-xl">Your Stories</h2>
    {% for story in stories %}
    <div class="my-6 border">
      <article class="p-4">
        <div class="author flex content-center">
          <picture>
            {% if story.author.avatar %}
            <img
              src="{{story.author.avatar.url}}"
              class="rounded-full"
              width="50"
              height="50"
            />
            {% else %}
            <img src="#" class="rounded border" width="20" height="20" />
            {% endif %}
          </picture>
          <div class="ml-3">
            <p class="font-semibold">
              {{ story.author }}
            </p>
            <p>
              <small class="text-gray-600">
                created at {{ story.created_at | date:"M d, h:i:s a" }}
              </small>
            </p>
          </div>
        </div>

        {% if story.cover %}
        <div class="story-cover">
          <div class="img my-6">
            <a
              href="{% url 'users:story' username=story.author.username slug=story.slug %}"
            >
              <img
                src="{{ story.cover.url }}"
              />
            </a>
          </div>
        </div>
        {% endif %}

        <a
          href="{% url 'users:story' username=story.author.username slug=story.slug %}"
        >
          <p class="font-bold text-4xl">
            {{ story.title }}
          </p>
          <p class="text-gray-700">
            {% if story.body|length > 125 %}
              {{ story.body | slice:":125" }}   ...
            {% else %}
              {{ story.body}}
            {% endif %}
          </p>
        </a>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main %}
