{% extends "base.html" %}
{% load static %}

{% block title %} Your Stories {% endblock %}
{% block modal %}
<div class="mx-auto p-12 px-6 sm:px-24 lg:px-20">
  <header>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-5xl text-gray-900">Your Stories</h1>
      <div>
        <a
          href="#"
          class="p-2 px-3 mx-1 border rounded-md border-gray-900 text-gray-900"
          >Import a Story</a
        >
        <a
          href="{% url 'users:new-story' user.username %}"
          class="p-2 px-3 mx-1 border rounded-md border-teal-500 text-teal-500"
          >Write a Story</a
        >
      </div>
    </div>
    <div class="navigation mt-12">
      <a href="#" class="mr-3 p-2">Draft</a>
      <a href="#" class="mr-3 p-1 border-b border-gray-900">
        Published <sup>{{stories.count}}</sup>
      </a>
      <hr class="mt-1">
    </div>
  </header>

  {% for data in stories %}
    <div class="flex justify-between">
      <article class="py-4">
        <p>
          <a
            href="{% url 'users:story' username=user.username slug=data.slug %}"
            class="text-xl font-bold text-gray-900"
          >
            {{data.title}}.
          </a>
        </p>
        <small class="text-gray-700">
          Published on {{data.created_at | date:"M d" }} · @ min read
        </small>
      </article>
      <div>
        <a href="{% url 'users:delete' username=user.username slug=data.slug %}">
          edit |
        </a>
        <a href="{% url 'users:delete' username=user.username slug=data.slug %}">
          delete
        </a>
      </div>
    </div>
    <hr>
  {% endfor %}
</section>
{% endblock modal %}

