{% extends "base.html" %}
{% load static %}

{% block title %} Your Stories - Djraft {% endblock %}
{% block main %}
<div class="mx-auto p-12 px-6 sm:px-24 lg:px-20">
  <header>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-5xl text-gray-900">Your Stories</h1>
      <div>
        <a
          href="#"
          class="p-2 px-3 mx-1 border rounded-md border-gray-900 text-gray-900"
          >Import a Story</a
        >
        <a
          href="{% url 'users:new-story' user.username %}"
          class="p-2 px-3 mx-1 border rounded-md border-teal-500 text-teal-500"
          >Write a Story</a
        >
      </div>
    </div>
    <div class="navigation mt-12">
      <a href="#" class="mr-3 p-2">Draft</a>
      <a href="#" class="mr-3 p-1 border-b border-gray-900">
        Published <sup>{{stories.count}}</sup>
      </a>
      <hr class="mt-1">
    </div>
  </header>

  {% for data in stories %}
    <div class="flex justify-between">
      <article class="py-4">
        <p>
          <a
            href="{% url 'users:story' username=user.username slug=data.slug %}"
            class="text-xl font-bold text-gray-900"
          >
            {{data.title}}.
          </a>
        </p>
        <small class="text-gray-700">
          Published on {{data.created_at | date:"M d" }} · @ min read
        </small>
      </article>
      <div class="flex items-center">
        <a href="{% url 'users:edit' username=user.username slug=data.slug %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather mx-3"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
        </a>
        <a href="{% url 'users:delete' username=user.username slug=data.slug %}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash mx-3"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg>
        </a>
      </div>
    </div>
    <hr>
  {% endfor %}
</section>
{% endblock main %}

