@font-face {
  font-family: "Clara Antique";
  src: url("../fonts/ClaraAntiqua.otf") format("opentype"); }

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.text-gray-normal {
  color: rgba(0, 0, 0, 0.54) !important; }

.not-logged {
  margin: 14px;
  margin: 0.875rem;
  border-radius: 9999px;
  border: 1px solid #d1d5db;
  background-color: #e5e7eb; }
  .not-logged a {
    width: 40px;
    height: 40px; }

.no-border {
  border: none !important; }

.cover-get label {
  padding: 16px !important;
  padding: 1rem !important; }

.display-none {
  display: none; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden !important; }

.section-content {
  left: 68px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 120px 48px 48px;
  padding: 1.25rem 7.5rem 3rem 3rem; }

.side-navigation {
  width: 68px;
  height: 100%;
  z-index: 99;
  position: fixed;
  text-align: center;
  font-family: "Clara Antique", serif;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 350ms 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  border-right: 1px solid #e5e7eb; }
  .side-navigation .sidenav-logo {
    scale: 0.5;
    padding: 16px 0 16px 0;
    padding: 1rem 0 1rem 0; }
  .side-navigation .items-wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    list-style-type: none;
    padding-left: 0; }
    .side-navigation .items-wrapper .nav-item {
      position: relative;
      padding-top: 16px;
      padding-top: 1rem;
      padding-bottom: 16px;
      padding-bottom: 1rem; }
  .side-navigation .items-bottom {
    position: absolute;
    top: 87.5%;
    width: 100%; }
    .side-navigation .items-bottom .nav-item {
      position: relative; }
      .side-navigation .items-bottom .nav-item .avatar-wrapper {
        margin: 14px;
        margin: 0.875rem; }
        .side-navigation .items-bottom .nav-item .avatar-wrapper img {
          width: 40px;
          height: 40px;
          border-radius: 9999px; }
      .side-navigation .items-bottom .nav-item .btn-menu {
        cursor: pointer; }
      .side-navigation .items-bottom .nav-item .menus {
        font-family: "Montserrat", sans-serif;
        width: auto;
        max-width: 200px;
        top: 75%;
        left: 90%;
        position: fixed;
        background-color: #fff;
        border: 1px solid #c3c3c3;
        border-radius: 4px; }
        .side-navigation .items-bottom .nav-item .menus .item {
          text-align: left !important;
          color: #909090;
          font-size: 14px;
          font-size: 0.875rem;
          line-height: 20px;
          line-height: 1.25rem;
          padding: 10.4px 29.6px 10.4px 28px;
          padding: 0.65rem 1.85rem 0.65rem 1.75rem; }
          .side-navigation .items-bottom .nav-item .menus .item:hover {
            color: #5c5c5c; }
        .side-navigation .items-bottom .nav-item .menus .profile {
          color: #10b981; }
          .side-navigation .items-bottom .nav-item .menus .profile:hover {
            color: #10b981; }
        .side-navigation .items-bottom .nav-item .menus .logout:hover {
          color: #ca0f34; }

.home {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 8px;
  margin-top: 0.5rem; }
  .home .content-left {
    grid-column: span 2 / span 2; }
    .home .content-left .greet-user {
      font-family: "Clara Antique", serif; }
      .home .content-left .greet-user h2 {
        font-size: 72px;
        font-size: 4.5rem;
        line-height: 1; }
    .home .content-left .trending {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 32px;
      margin-top: 2rem; }
      .home .content-left .trending .story {
        width: 49.25%;
        padding: 12px;
        padding: 0.75rem;
        border: 1px solid #e5e7eb; }
        .home .content-left .trending .story h2 {
          font-weight: 600;
          font-size: 23.2px;
          font-size: 1.45rem;
          line-height: 28px;
          line-height: 1.75rem; }
      .home .content-left .trending .story:nth-child(odd) {
        margin-right: 5.6px;
        margin-right: 0.35rem;
        margin-bottom: 12px;
        margin-bottom: 0.75rem; }
      .home .content-left .trending .story:nth-child(even) {
        margin-bottom: 12px;
        margin-bottom: 0.75rem; }
    .home .content-left .main-content {
      width: 100%; }
      .home .content-left .main-content .story .wrapper {
        padding: 16px;
        padding: 1rem;
        height: 208px;
        height: 13rem;
        max-height: 208px;
        max-height: 13rem;
        border: 1px solid #e5e7eb; }
        .home .content-left .main-content .story .wrapper:not(:first-child) {
          margin-top: 24px;
          margin-top: 1.5rem; }
        .home .content-left .main-content .story .wrapper:last-child {
          margin-bottom: 24px;
          margin-bottom: 1.5rem; }
        .home .content-left .main-content .story .wrapper .inner {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: relative;
          width: 100%;
          max-width: 100%; }
          .home .content-left .main-content .story .wrapper .inner .content-1 {
            margin-right: 24px;
            margin-right: 1.5rem;
            width: 66.666667%;
            max-width: 66.666667%;
            min-height: 176px;
            min-height: 11rem; }
            .home .content-left .main-content .story .wrapper .inner .content-1 .user-information {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center; }
              .home .content-left .main-content .story .wrapper .inner .content-1 .user-information #image > img {
                width: 20px;
                height: 20px;
                border-radius: 4px; }
              .home .content-left .main-content .story .wrapper .inner .content-1 .user-information #userusername {
                font-weight: 600;
                margin-left: 8px;
                margin-left: 0.5rem; }
            .home .content-left .main-content .story .wrapper .inner .content-1 .content {
              word-break: break-all; }
              .home .content-left .main-content .story .wrapper .inner .content-1 .content h2 {
                margin-top: 8px;
                margin-top: 0.5rem;
                font-size: 30px;
                font-size: 1.875rem;
                font-weight: 600;
                line-height: 1;
                display: inline-block; }
            .home .content-left .main-content .story .wrapper .inner .content-1 .story-information {
              width: 64.5%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-box-pack: justify;
                  -ms-flex-pack: justify;
                      justify-content: space-between;
              position: absolute;
              bottom: 0;
              font-size: 14px;
              font-size: 0.875rem;
              line-height: 20px;
              line-height: 1.25rem; }
          .home .content-left .main-content .story .wrapper .inner .content-2 {
            width: 33.333333%;
            max-width: 33.333333%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center; }
            .home .content-left .main-content .story .wrapper .inner .content-2 .image-wrapper {
              width: 100%;
              max-width: 100% !important;
              height: auto; }
              .home .content-left .main-content .story .wrapper .inner .content-2 .image-wrapper #picture {
                overflow: hidden !important;
                max-height: 170px !important; }
                .home .content-left .main-content .story .wrapper .inner .content-2 .image-wrapper #picture img {
                  top: 0%; }
    .home .content-left .pagination {
      margin: 80px 0 16px 0;
      margin: 5rem 0 1rem 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .home .content-left .pagination li {
        position: relative;
        border: 1px solid #e5e7eb; }
        .home .content-left .pagination li a {
          display: block;
          padding: 8px 20px 8px 20px;
          padding: 0.5rem 1.25rem 0.5rem 1.25rem; }
        .home .content-left .pagination li:not(:last-child) {
          border-right: none; }
      .home .content-left .pagination .active {
        background-color: #34d399; }
  .home .content-right {
    grid-column: span 1 / span 1;
    margin-left: 40px;
    margin-left: 2.5rem; }
    .home .content-right .box {
      padding: 12px;
      padding: 0.75rem;
      border: 1px solid #e5e7eb; }
      .home .content-right .box:not(:last-child) {
        margin-bottom: 16px;
        margin-bottom: 1rem; }
    .home .content-right .href {
      margin-bottom: 13.6px;
      margin-bottom: 0.85rem; }
    .home .content-right .sticky {
      top: 0;
      position: sticky !important; }
    .home .content-right .tags {
      padding: 20px 0 0 0;
      padding: 1.25rem 0 0 0;
      border-top: 1px solid #e5e7eb; }
      .home .content-right .tags .tags-button {
        list-style-type: none; }
        .home .content-right .tags .tags-button li {
          display: inline-block;
          margin-bottom: 17px;
          margin-right: 4px; }
          .home .content-right .tags .tags-button li a {
            padding: 6px 24px 6px 24px;
            border: 1px solid #e5e7eb; }

.user-detail .wrapper .inner {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); }
  .user-detail .wrapper .inner .info {
    width: 160px;
    width: 10rem;
    margin: 0 48px 0 48px;
    margin: 0 3rem 0 3rem;
    grid-column: span 1 / span 1; }
    .user-detail .wrapper .inner .info .sticky {
      top: 20%;
      position: sticky !important; }
    .user-detail .wrapper .inner .info .sticky a {
      display: inline-block; }
    .user-detail .wrapper .inner .info .sticky img {
      width: 160px;
      width: 10rem;
      height: 160px;
      height: 10rem; }
      .user-detail .wrapper .inner .info .sticky img:hover {
        cursor: pointer; }
    .user-detail .wrapper .inner .info .sticky .about .tracking-widest {
      letter-spacing: 5.6px;
      letter-spacing: 0.35rem;
      font-size: 19.2px;
      font-size: 1.2rem;
      margin-top: 8px;
      margin-top: 0.5rem; }
    .user-detail .wrapper .inner .info .sticky .about .username {
      margin-bottom: 8px;
      margin-bottom: 0.5rem;
      font-size: 19.2px;
      font-size: 1.2rem;
      line-height: 28px;
      line-height: 1.75rem; }
    .user-detail .wrapper .inner .info .sticky .about .bio {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 20px;
      line-height: 1.25rem; }
  .user-detail .wrapper .inner .stories {
    margin: 0 16px 0 16px;
    margin: 0 1rem 0 1rem;
    grid-column: span 2 / span 2; }
    .user-detail .wrapper .inner .stories .story:not(:first-child) {
      margin-top: 32px;
      margin-top: 2rem; }
    .user-detail .wrapper .inner .stories .story .wrapper {
      border-bottom: 1px solid #e5e7eb; }
      .user-detail .wrapper .inner .stories .story .wrapper .inner {
        display: block;
        margin-bottom: 16px;
        margin-bottom: 1rem; }
        .user-detail .wrapper .inner .stories .story .wrapper .inner .content {
          word-break: break-all !important;
          margin-top: 8px;
          margin-top: 0.5rem; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .content .title > h2 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 60px;
            font-size: 3.75rem;
            line-height: 1;
            word-break: break-all; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .content .description {
            margin-top: 8px;
            margin-top: 0.5rem;
            font-size: 21.6px;
            font-size: 1.35rem;
            line-height: 36px;
            line-height: 2.25rem;
            word-break: break-all; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .content .cover {
            margin: 24px 0 24px 0;
            margin: 1.5rem 0 1.5rem 0; }
            .user-detail .wrapper .inner .stories .story .wrapper .inner .content .cover .cover-wrapper {
              width: 100%;
              max-width: 100% !important;
              height: auto; }
              .user-detail .wrapper .inner .stories .story .wrapper .inner .content .cover .cover-wrapper .cover-inner {
                overflow: hidden !important;
                max-height: 370px !important; }
                .user-detail .wrapper .inner .stories .story .wrapper .inner .content .cover .cover-wrapper .cover-inner img {
                  width: 100%;
                  height: auto;
                  top: -10%; }
        .user-detail .wrapper .inner .stories .story .wrapper .inner .footer {
          margin: 64px 0 48px 0;
          margin: 4rem 0 3rem 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .footer span {
            margin-left: 4px;
            margin-left: 0.25rem; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .footer .upvote {
            margin: 0 16px 0 0;
            margin: 0 1rem 0 0;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
          .user-detail .wrapper .inner .stories .story .wrapper .inner .footer .response {
            margin: 0 16px 0 16px;
            margin: 0 1rem 0 1rem;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }

.user-settings .wrapper .inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); }
  .user-settings .wrapper .inner .navigation {
    grid-column: span 1 / span 1; }
    .user-settings .wrapper .inner .navigation .nav-wrapper {
      top: 50px;
      margin: 32px;
      margin: 2rem;
      position: sticky !important; }
      .user-settings .wrapper .inner .navigation .nav-wrapper .nav-item {
        padding: 16px;
        padding: 1rem;
        color: #292929; }
        .user-settings .wrapper .inner .navigation .nav-wrapper .nav-item h2 {
          font-weight: 600;
          font-size: 24px;
          font-size: 1.5rem; }
        .user-settings .wrapper .inner .navigation .nav-wrapper .nav-item a {
          color: #797979;
          font-size: 18.4px;
          font-size: 1.15rem; }
  .user-settings .wrapper .inner .user-content {
    width: 100%;
    margin-top: 32px;
    margin-top: 2rem;
    grid-column: span 3 / span 3; }
    .user-settings .wrapper .inner .user-content .content-wrapper {
      margin: 0 32px 0 32px;
      margin: 0 2rem 0 2rem; }
      .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content {
        color: #292929;
        word-break: break-all; }
        .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content:not(:first-of-type) {
          margin-top: 80px;
          margin-top: 5rem; }
        .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content h2 {
          font-weight: 700;
          font-size: 24px;
          font-size: 1.5rem;
          line-height: 32px;
          line-height: 2rem;
          padding-bottom: 8px;
          padding-bottom: 0.5rem;
          border-bottom: 1px solid #ecedf0; }
        .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item {
          margin: 24px 0 24px 0;
          margin: 1.5rem 0 1.5rem 0; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item label {
            font-weight: 600;
            font-size: 20px;
            font-size: 1.25rem;
            line-height: 28px;
            line-height: 1.75rem;
            padding: 8px 0 8px 0;
            padding: 0.5rem 0 0.5rem 0; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .item-name, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .item-bio {
            border-bottom: 1px solid #e5e7eb; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .item-name h3, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .item-bio h3 {
              font-size: 16.8px;
              font-size: 1.05rem;
              padding-bottom: 4px;
              padding-bottom: 0.25rem; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .info {
            margin-top: 16px;
            margin-top: 1rem; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .button a {
            border-radius: 4px;
            border: 1px solid #e5e7eb;
            padding: 12px 40px 12px 40px;
            padding: 0.75rem 2.5rem 0.75rem 2.5rem;
            -webkit-transition: 0.3s;
            transition: 0.3s; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .button a:hover {
              -webkit-transition: 0.3s;
              transition: 0.3s;
              color: rgba(0, 0, 0, 0.64) !important;
              border: 1px solid #777777; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper .info {
              width: 65%; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper .picture {
              width: 35%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper .picture img {
                width: 85px;
                height: 85px;
                border-radius: 9999px; }
              .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper .picture .label-image {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                position: absolute;
                cursor: pointer;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                border-radius: 9999px;
                z-index: 99;
                width: 85px;
                height: 85px;
                opacity: 0; }
                .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .photo-wrapper .picture .label-image:hover {
                  background-color: #333;
                  opacity: 0.5; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .emails {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            margin-top: 16px;
            margin-top: 1rem;
            padding: 12px 16px 16px 16px;
            padding: 0.75rem 1rem 1rem 1rem;
            border: 1px solid #e5e7eb; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .emails .verified {
              font-weight: 600;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              color: #2563eb; }
              .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .emails .verified svg {
                margin-left: 4px;
                margin-left: 0.25rem; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .sosion-wrapper, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .reset-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .sosion-wrapper .info, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .form-item .reset-wrapper .info {
              width: 65%; }
        .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content #name, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content #bio, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .emails {
          width: 65%; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content #name .info, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content #bio .info, .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .form-content .emails .info {
            width: 90%; }
      .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .submit-wrapper {
        margin-top: 80px;
        margin-top: 5rem; }
        .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .submit-wrapper .save-change {
          color: #fff;
          border-radius: 4px;
          padding: 12px 40px 12px 40px;
          padding: 0.75rem 2.5rem 0.75rem 2.5rem;
          background-color: #10b981; }
          .user-settings .wrapper .inner .user-content .content-wrapper .content-inner form .submit-wrapper .save-change:hover {
            background-color: #128861; }

.stories-user .wrapper {
  margin-top: 5.6px;
  margin-top: 0.35rem; }
  .stories-user .wrapper .inner header {
    margin-bottom: 16px;
    margin-bottom: 1rem; }
    .stories-user .wrapper .inner header h2 {
      font-family: "Clara Antique", serif;
      font-size: 60px;
      font-size: 3.75rem;
      line-height: 1; }
  .stories-user .wrapper .inner .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .stories-user .wrapper .inner .content .most-liked {
      width: 100%;
      grid-column: span 1 / span 1; }
      .stories-user .wrapper .inner .content .most-liked .subtitle {
        font-size: 23.2px;
        font-size: 1.45rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 16px;
        margin-bottom: 1rem; }
      .stories-user .wrapper .inner .content .most-liked .story-liked h2 {
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1; }
      .stories-user .wrapper .inner .content .most-liked .story-liked .wrapper-liked {
        padding: 16px;
        padding: 1rem;
        margin-bottom: 16px;
        margin-bottom: 1rem;
        border: 1px solid #e5e7eb; }
        .stories-user .wrapper .inner .content .most-liked .story-liked .wrapper-liked .content-liked {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
    .stories-user .wrapper .inner .content .story-list {
      width: 100%;
      grid-column: span 2 / span 2; }
      .stories-user .wrapper .inner .content .story-list .story .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 32px 0 32px;
        margin: 0 2rem 0 2rem;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border: 1px solid #e5e7eb; }
        .stories-user .wrapper .inner .content .story-list .story .wrapper:not(:first-child) {
          margin-top: 24px;
          margin-top: 1.5rem; }
        .stories-user .wrapper .inner .content .story-list .story .wrapper:last-child {
          margin-bottom: 24px;
          margin-bottom: 1.5rem; }
        .stories-user .wrapper .inner .content .story-list .story .wrapper .content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding: 0 16px 16px 16px;
          padding: 0 1rem 1rem 1rem; }
          .stories-user .wrapper .inner .content .story-list .story .wrapper .content h2, .stories-user .wrapper .inner .content .story-list .story .wrapper .content h3 {
            word-break: break-all; }
          .stories-user .wrapper .inner .content .story-list .story .wrapper .content h2 {
            font-weight: 600;
            font-size: 28px;
            font-size: 1.75rem;
            line-height: 2; }
        .stories-user .wrapper .inner .content .story-list .story .wrapper .perf {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .stories-user .wrapper .inner .content .story-list .story .wrapper .perf a {
            height: 50%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            text-align: center;
            padding: 16px;
            padding: 1rem; }
          .stories-user .wrapper .inner .content .story-list .story .wrapper .perf .edit {
            background-color: #f3f4f6; }
            .stories-user .wrapper .inner .content .story-list .story .wrapper .perf .edit:hover {
              color: #f3f4f6;
              background-color: #9ca3af; }
          .stories-user .wrapper .inner .content .story-list .story .wrapper .perf .delete {
            background-color: #fee2e2; }
            .stories-user .wrapper .inner .content .story-list .story .wrapper .perf .delete:hover {
              color: #fee2e2;
              background-color: #f87171; }

.story-form .wrapper {
  margin: 80px 192px 0 192px;
  margin: 5rem 12rem 0 12rem; }
  .story-form .wrapper .inner .story-creation-form {
    font-family: "Montserrat", sans-serif;
    word-break: break-all !important; }
    .story-form .wrapper .inner .story-creation-form .title-wrapper .title {
      display: inline-block;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 96px;
      font-size: 6rem;
      font-weight: 600;
      line-height: 1; }
    .story-form .wrapper .inner .story-creation-form .descr-wrapper {
      padding: 20px 0 20px 0;
      padding: 1.25rem 0 1.25rem 0; }
      .story-form .wrapper .inner .story-creation-form .descr-wrapper .description {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 28px;
        line-height: 1.75rem; }
    .story-form .wrapper .inner .story-creation-form .cover-wrapper .inner {
      border: 1px solid #e5e7eb; }
      .story-form .wrapper .inner .story-creation-form .cover-wrapper .inner .i_cover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .story-form .wrapper .inner .story-creation-form .cover-wrapper .inner label {
        cursor: pointer;
        padding: 48px;
        padding: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .story-form .wrapper .inner .story-creation-form .body-wrapper {
      padding: 24px 0 24px 0;
      padding: 1.5rem 0 1.5rem 0; }
    .story-form .wrapper .inner .story-creation-form .publish {
      color: #fff;
      margin-top: 48px;
      margin-top: 3rem;
      border-radius: 4px;
      padding: 12px 40px 12px 40px;
      padding: 0.75rem 2.5rem 0.75rem 2.5rem;
      background-color: #10b981; }
      .story-form .wrapper .inner .story-creation-form .publish:hover {
        background-color: #128861; }

.story-detail .wrapper {
  margin-top: 80px;
  margin-top: 5rem; }
  .story-detail .wrapper .inner .heading {
    margin: 0 128px 0 128px;
    margin: 0 8rem 0 8rem; }
    .story-detail .wrapper .inner .heading h2 {
      font-weight: 700;
      font-size: 72px;
      font-size: 4.5rem;
      line-height: 1; }
    .story-detail .wrapper .inner .heading h3 {
      padding-top: 20px;
      padding-top: 1.25rem;
      padding-bottom: 20px;
      padding-bottom: 1.25rem;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 28px;
      line-height: 1.75rem;
      color: rgba(0, 0, 0, 0.54) !important; }
  .story-detail .wrapper .inner .author {
    margin: 0 128px 0 128px;
    margin: 0 8rem 0 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .story-detail .wrapper .inner .author .avatar a > img {
      width: 64px;
      height: 64px;
      border-radius: 4px; }
    .story-detail .wrapper .inner .author .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 16px;
      margin-left: 1rem; }
      .story-detail .wrapper .inner .author .info h3 {
        font-size: 20px;
        font-size: 1.25rem;
        font-weight: 600; }
  .story-detail .wrapper .inner .story-cover {
    margin-top: -48px;
    margin-top: -3rem; }
    .story-detail .wrapper .inner .story-cover .wrapper {
      width: 100%;
      max-width: 100% !important;
      height: auto; }
      .story-detail .wrapper .inner .story-cover .wrapper .inner {
        overflow: hidden !important;
        max-height: 720px !important; }
        .story-detail .wrapper .inner .story-cover .wrapper .inner img {
          width: 100%;
          height: auto;
          top: -90%; }
  .story-detail .wrapper .inner .body {
    margin: 32px 128px 0 128px;
    margin: 2rem 8rem 0 8rem; }
  .story-detail .wrapper .inner .footer .wrapper {
    padding-top: 16px;
    padding-top: 1rem;
    margin: 128px 128px 0 128px;
    margin: 8rem 8rem 0 8rem;
    border-top: 1px solid #e5e7eb; }
    .story-detail .wrapper .inner .footer .wrapper .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .story-detail .wrapper .inner .footer .wrapper .inner .author-image {
        margin-right: 32px;
        margin-right: 2rem; }
        .story-detail .wrapper .inner .footer .wrapper .inner .author-image a > img {
          width: 115px;
          height: 115px;
          max-width: 115px;
          max-height: 115px; }
      .story-detail .wrapper .inner .footer .wrapper .inner .author-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .story-detail .wrapper .inner .footer .wrapper .inner .author-info h3 {
          letter-spacing: 4px;
          letter-spacing: 0.25rem;
          text-transform: uppercase; }
        .story-detail .wrapper .inner .footer .wrapper .inner .author-info h2 {
          font-size: 36px;
          font-size: 2.25rem;
          font-weight: 600; }
