{% extends "base.html" %} {% load static %} {% block title %} Obsidian - Your
Stories {% endblock %} {% block content %}
<section class="mx-auto p-12 px-16 sm:px-24 lg:px-32">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-5xl text-gray-900">Your Stories</h1>
    <div>
      <a
        href="#"
        class="p-3 px-6 mx-1 border rounded-md border-gray-900 text-gray-900"
        >Import a Story</a
      >
      <a
        href="#"
        class="p-3 px-6 mx-1 border rounded-md border-teal-500 text-teal-500"
        >Write a Story</a
      >
    </div>
  </div>
</section>
{% endblock content %}
