{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Djraft{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="medium like project clone" />
    <meta name="author" content="ahmad alwi" />
    <!-- favicon -->
    {% comment %} <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" /> {% endcomment %}
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    {% block css %}
    <!-- Third-party CSS libraries go here -->
    {% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    <link href="{% static 'css/account.css' %}" rel="stylesheet" />
    <link href="{% static 'tailwind/tailwind.css' %}" rel="stylesheet" />
    {% endcompress %} {% endblock %}
  </head>
  <body>
    {% block content %}{%endblock content %}

    <!-- Third-party javascript libraries go here -->
    {% compress js %}
    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/project.min.js' %}"></script>
    <script src="{% static 'js/functions.min.js' %}"></script>
    {% endcompress %}
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
