{% extends "base.html" %} {% load static %} {% block title %} Obsidian - Home
{%endblock %} {% block content %}
<div class="container px-4 sm:px-12 lg:px-32">
  <div class="grid grid-cols-3 gap-4 mt-12">
    <div class="left-side col-span-2 px-4 sm:px-4 lg:px-4">
      {% for article in articles %}
      <div class="card py-4">
        <a href="{{article.slug}}">
          <div class="flex justify-between">
            <div class="w-9/12">
              <p class="tracking-wide text-sm font-normal text-gray-600">
                BASED ON YOUR READING HISTORY
              </p>
              <h1 class="font-bold text-xl pb-3">{{ article.title }}</h1>
              <p class="pb-5">{{ article.body | slice:":100" }}.</p>
              <p>{{ article.author }}</p>
              <small class="text-gray-700">{{ article.date_posted }}</small>
            </div>
            <div class="w-3/12">
              <div class="kIibvJLrbf mb-5">
                <div class="img">
                  <img
                    src="{{ article.cover }}"
                    class="article-image"
                    alt="article-image"
                    width="140"
                    height="200"
                  />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="article-list col-span-1">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, iste
      tempora in aliquam dolor dicta velit ratione aspernatur laudantium iure
      necessitatibus perspiciatis dolore molestias dolorem rem eaque itaque,
      quibusdam nesciunt?
    </div>
  </div>
</div>
{% endblock content %}
