{% load i18n %}
<nav class="sidenav border-r">
  <a
    href="{% url 'home' %}"
    class="sidenav-logo djraft-logo font-bold"
    style="font-size: 40px"
    >D</a
  >
  <ul class="nav-items-wrapper-center">
    <li class="nav-item py-3 my-3">
      <a href="{% url 'me:stories' %}" class="py-3 px-4">A</a>
    </li>
    <li class="nav-item py-3 my-3">
      <a href="{% url 'me:new-story' %}" class="py-3 px-4">B</a>
    </li>
    <li class="nav-item py-3 my-3">
      <a href="#" class="py-3 px-4">C</a>
    </li>
    <li class="nav-item py-3 my-3">
      <a href="#" class="py-3 px-4">D</a>
    </li>
  </ul>
  <ul class="nav-items-wrapper-bottom">
    <li class="nav-item">
      {% if request.user.is_authenticated %}
      <div class="m-3.5">
        <a href="{% url 'users:detail' request.user.username  %}">
          <img
            src="{{request.user.avatar.url}}"
            class="rounded-full"
            width="40"
            height="40"
          />
        </a>
      </div>
      {% else %}
      <div
        class="m-3.5 rounded-full bg-gray-200 border border-gray-300"
        style="width: 40px; height: 40px"
      >
        <a href="{% url 'account_login' %}" class="p-3.5"></a>
      </div>
      {% endif %}
    </li>
  </ul>
</nav>
